*::selection {
    color: white;
    background-color: gray;
}

body {
    background: url(ServQuick.jpg);
    direction: rtl;
    margin: 0;
}

#logo {
    width: 100px;
    height: 50px;
    float: right;
    margin: 0 8px 0 0;
}

img {
    border: 2px solid #ccc;
    border-radius: 10px;
}

h1 {
    width: auto;
    color: snow;
    margin: 10px 115px 20px 8px;
    padding: 5px;
    border: 3px solid #124567;
    border-top-left-radius: 10px;
    border-bottom-right-radius: 10px;
    text-shadow: 2px 2px 2px #616161;
}

#menu {
    border: 3px solid white;
    margin: 0 8px 35px 8px;
    padding: 3px;
    line-height: 30px;
    border-radius: 13px;
    background-color: #263238;
    position: sticky;
    top: 0;
    z-index: 5;
}

#menu div {
    display: inline-block;
    margin: 2px 3px;
}

.m {
    box-sizing: content-box;
    border: 1px solid white;
    border-radius: 5px;
    color: white;
    margin: 0 2px;
    padding: 7px;
    text-align: center;
    font-size: 120%;
    transition: 0.3s;
}

.m img {
    width: 20px;
    height: 20px;
    margin: 0px 5px 0 1px;
    transform: translateY(6px);
    padding: 1px;
    background-color: white;
}

.m:hover {
    box-sizing: content-box;
    background-color: #90A4AE;
    color: black;
    border-width: 3px;
    margin: 0 0;
}

#div-s {
    display: inline-block;
    height: auto;
    width: auto;
    position: absolute;
    left: 100px;
    right: 0;
}

#sear {
    padding: 3px;
    margin: 3px 8px 3px 0;
    width: 100%;
    font-size: 18px;
    border-right-style: solid;
    border-radius: 15px;
    background-image: url(search.png);
    background-repeat: no-repeat;
    background-position: left;
    background-size: 25px;
}

#sear:focus {
    outline: 2.3px solid silver;
}

#b-sear {
    border-radius: 15px;
    width: 60px;
    float: left;
    margin: 0 8px;
    padding: 7px;
}

hr {
    border-color: black;
    margin: 1% 0;
}

#user-table {
    display: flex;
    justify-content: center;
    height: 50%;
    width: auto;
    margin: 30px 8px;
    padding: 1%;
    border: 3px solid darkgray;
    border-radius: 10px;
    text-align: center;
    background-image: url(back-g.jpg);
    background-repeat: round;
}

#user-table img {
    border: none !important;
    border-radius: none !important;
}

.div0 {
    display: inline-block;
    width: 23%;
    height: 23%;
    margin: 10px 0.5%;
    font-size: 15px;
}

#user-table figure {
    margin: 10px;
    padding: 0;
}

.user-table-img {
    width: 55%;
    height: 55%;
    padding: 5px;
    margin: 5px;
}

.div0 figcaption {
    width: 95%;
    height: 35px;
    background-color: white;
    border: 2px solid gray;
    border-radius: 10px;
    text-align: center;
    padding: 1px;
    overflow: auto;
    margin: 0 auto;
}

@media only screen and (max-width:600px) {
    #user-table {
        display: none;
    }
}

#pages {
    margin: 20px 8px;
}

#pages ul {
    border: 2px solid #124567;
    border-radius: 3px;
    padding: 0;
    /* padding is so important for defult indent. */
}

#pages li {
    text-align-last: center;
    list-style-type: none;
    transition: 0.3s;
}

#pages li:hover {
    background-color: gray;
    font-size: 20px;
}

#pages a {
    color: white;
}

#pages a:hover {
    color: black;
}

a {
    text-decoration-line: none;
    color: black;
}

a:active {
    color: #3D5AFE;
}

#mather-div-c {
    margin: 30px 8px 0 8px;
    padding: 0 3% 38px 3%;
    text-align: center;
    border: 1px solid black;
    border-radius: 10px;
}

.courses-div {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

#text {
    margin: 30px 8px 0 8px;
    padding: 0 3% 38px 3%;
    text-align: center;
    border: 1px solid black;
    border-radius: 10px;
}

.h3 {
    color: white;
    font-size: 25px;
    text-shadow: black 3px 3.5px;
    border: 3px solid #124567;
    padding: 5px;
    border-radius: 50%;
}

.div-c {
    display: inline-block;
    text-align: center;
    margin: 37.5px auto 37.5px auto;
    padding: 0 7.5px;
    width: 230px;
    height: 230px;
}

.c-img {
    width: 210px;
    height: 210px;
    border: 2px solid #ccc;
    border-radius: 10px;
    text-align: center;
    transition: 0.3s;
}

.div-c figure {
    width: 225px;
    height: 230px;
    margin: 0 auto;
}

.div-c figcaption {
    display: block;
    width: 50%;
    text-align: center;
    background-color: white;
    border: 2px solid #333;
    border-radius: 10px;
    padding: 5px 10px;
    margin: 7px auto 0 auto;
    transition: 0.3s;
}

@keyframes shcolor {
    from {transform: none;}
    to {transform: scale(1.08);}
}

.c-img:hover, .div-c figcaption:hover {
    background-color: #bdbdbd;
    animation: shcolor 1.5s ease 0.1s forwards;
}

footer {
    height: auto;
    width: auto;
    background-color: #124567;
    color: white;
    display: block;
    margin: 30px 0 0 0;
    padding: 15px 15px 40px 15px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

footer img {
    width: 7%;
    height: 7%;
    min-width: 38px;
    min-height: 38px;
    border-radius: 13%;
    float: left;
    margin: 0 7px 0 7px;
}

.about {
    padding: 0 !important;
    margin: 18px 0 0 0;
}

footer p {
    text-indent: 10px;
    padding: 0 45px;
    margin: 8px 0 0 0;
    clear: right;
}

footer address{
    margin-top: 8px;
    padding: 0 55px;
    clear: right;
}

/*################################### Register Page ###################################*/

#rform {
    display: block;
    width: 35%;
    min-width: 290px;
    padding: 3px;
    margin: 0 auto 50px auto;
    background-color: slategray;
    border: 3px solid #124567;
    border-radius: 10px;
}

#rdiv {
    padding: 10px;
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: stretch;
    flex-wrap: nowrap;
}

#rdiv label {
    padding: 1.5px;
}

#rdiv input {
    outline: none;
    border: 3px solid darkgray;
    border-radius: 10px;
    padding: 3px;
    font-size: 15px;
    margin-bottom: 10px;
}

#rdiv input:focus {
    border: 3px solid black;
}

#divimg {
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    margin-bottom: 2px;
}

#r-icap {
    border: 2px solid black;
    border-radius: 20px;
    max-width: 70%;
    max-height: 50px;
}

#r-recap{
    padding: 0 !important;
    border: 2px solid black;
    border-radius: 50%;
    width: 30px;
    height: 30px;
}

#r-recap:hover {
    background-color: gray;
    cursor: pointer;
}

#r-irecap {
    display: flex;
}

#r-butn {
    margin: 10px 0;
}

#r-butn[type="submit"] {
    outline: none;
    padding: 10px;
    font-size: 20px;
    border: 2px solid darkgray;
    border-radius: 10px;
}

#r-butn[type="submit"]:hover {
    border: 2.5px solid black;
    cursor: pointer;
    margin-bottom: 9px;
    background-color: lightgray;
    transform: scale(1.01);
}

/*################################### Login Page ###################################*/

#lgdiv {
    width: 45%;
    height: 40%;
    background-color: slategray;
    border: 3px solid #124567;
    border-radius: 10px;
    text-align: center;
    margin: 40px auto;
    padding: 10px;
}

#lgform label{
    display: inline-block;
    margin: 10px 0;
    padding: 2px;
}

#lgdiv:first-of-type p{
    text-align: right;
}

#user, #pass {
    outline: none;
    width: 75%;
    border: 3px solid darkgray;
    border-radius: 10px;
    font-size: 17px;
    padding: 3px;
    margin: 0 0 20px 0;
}

#cap {
    outline: 3px solid darkgray;
    width: 20%;
    border-radius: 10px;
    font-size: 17px;
    padding: 3px;
}

#user:focus, #pass:focus, #cap:focus {
    outline: 3px solid black;
}

#lgform p {
    text-align: left;
    margin: 0 3%;
}

#rem {
    transform: translateY(2px);
}

#icap {
    width: auto;
    height: 25px;
    transform: translateY(12px);
    margin: 3px 0;
}

#recap {
    padding: 0;
    margin: 0 0 0 1px;
    border: 1px solid black;
    border-radius: 10px;
    transform: translateY(5px);
}

#irecap {
    width: auto;
    height: 15px;
}

#recap:hover {
    background-color: gray;
    cursor: pointer;
}

#lgform button[type="submit"] {
    width: 90%;
    border: 2px solid gray;
    border-radius: 10px;
    padding: 5px;
    margin: 30px auto;
}

#lgform button[type="submit"]:hover {
    border: 2.5px solid black;
    cursor: pointer;
    margin-bottom: 29px;
    background-color: lightgray;
    transform: scale(1.01);
}

/*################################### Support Page ###################################*/
#sform {
    display: block;
    width: 35%;
    min-width: 290px;
    padding: 3px;
    margin: 0 auto 203px auto;
    background-color: slategray;
    border: 3px solid #124567;
    border-radius: 10px;
}

#description {
    width: auto;
    height: 250px;
    margin-bottom: 10px;
    padding: 3px;
    border: 3px solid darkgray;
}

.footer2 {
    left: 0;
    right: 0;
    bottom: 0;
    height: auto;
    width: auto;
    background-color: #124567;
    color: white;
    display: block;
    margin: 0;
    padding: 15px 15px 40px 15px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}